.chatroom-area {
  height: 90vh;
  background-color: #00000059;
  border-radius: 10px;
}

.chat-messages-area {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ffffff8f;
  border-radius: 10px;
  /* The below two properties are necessary to keep the div scrolled to the bottom.
  Only caveat is children of this container have to be wrapped in another div
  in order to escape the top-bottom reversal. Ingenius solution courtesy of StackOverflow. */
  display: flex;
  flex-direction: column-reverse;
}

.chat-users-area{
  overflow-y: scroll;
}

.message-box-container {
  display: flex;
  height: 20vh;
}
.message-box {
  min-width: 80%;
}

.message-box-container input {
  min-height: 100%;
}

.message-bubble-container{
  transform-origin: center !important;
}
.message-bubble {
  width: 100%;
  padding: 40px 15px 20px 10px;
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 1px #353535;
  overflow-wrap: anywhere;
}

.message-bubble-other {
  background-color: #DE9151;
  margin: 20px 0px;
  text-align: left;
  border-radius: 20px 20px 20px 0px;
  box-shadow: 1px 1px 5px #000;
  margin-left: 10px;
}

.message-bubble-owner {
  text-align: right;
  background-color: #3C3744;
  margin: 20px 0px;
  border-radius: 20px 20px 0px 20px;
  box-shadow: -1px 1px 5px #000;
  margin-left: -10px;
}

.message-bubble-username {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 14px;
}

.userlist {
  position: relative;
  font-size: 1.25rem;
  box-shadow: 0px 2px 5px #8b8b8b;
  padding: 20px;
  text-shadow: 0px 0px 5px #000;

}

.userlist::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.userlist:hover::before {
  opacity: 1;
}

.userlist-owner:hover::before {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.userlist-owner {
  color: #fcf39e;
  font-weight: 800;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* z-index: 10; */
}

.userlist-all {
  color: #fae9e9;
}

.readmore {
  color: #b42a00;
}
.readmore:hover {
  color: #922200;
  cursor: pointer;
  text-decoration: underline;
}
